modelio/app/audit/res/auditconfiguration.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Category" />
      </xs:sequence>
      <xs:attribute default="others" name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Category">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="Rule" />
      </xs:sequence>
      <xs:attribute default="others" name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Rule">
    <xs:complexType>
      <xs:attribute name="id" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:ID">
            <xs:pattern value="R[0-9]+" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="severity" type="Severity" use="required" />
      <xs:attribute name="status" type="Status" use="required" />
      <xs:attribute name="class" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([a-z][a-z_0-9]*\.)*[A-Z_]($[A-Z_]|[\w_])*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Severity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error" />
      <xs:enumeration value="warning" />
      <xs:enumeration value="tip" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="enabled" />
      <xs:enumeration value="disabled" />
      <xs:enumeration value="obsolete" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>